In [1]:
# Write a program to reverse a string.

In [3]:
a= input("string")
b= a[::-1]
print("reverse of string",b)

string ayush

reverse of string hsuya

In [5]:
# Check if a string is a palindrome.

In [8]:
def is_palindrome(input_string):
    input_string = ''.join(filter(str.isalnum, input_string)).lower()
    return input_string == input_string[::-1]

# Example usage:
input_string = "A man, a plan, a canal, Panama!"
result = is_palindrome(input_string)
print(result)  # This will also print True because the input is a palindrome.

True

In [9]:
#Convert a string to uppercase.

In [10]:
a= "i am not geeting question number two "
b= a.upper()
print(b)

I AM NOT GEETING QUESTION NUMBER TWO

In [ ]:
#Convert a string to lowercase.

In [11]:
original_string = "JAI SHREE RAM"
lowercase_string = original_string.lower()
print(lowercase_string)

jai shree ram

In [12]:
#Count the number of vowels in a string.

In [1]:
def count_vowels(input_string):
    # Convert the input string to lowercase to make it case-insensitive.
    input_string = input_string.lower()
    
    # Define a list of vowels.
    vowels = ['a', 'e', 'i', 'o', 'u']
    
    # Use a list comprehension to count the vowels.
    vowel_count = sum(input_string.count(vowel) for vowel in vowels)
    
    return vowel_count

# Example usage:
input_string = "i am ayush dixit"
result = count_vowels(input_string)
print("Number of vowels:", result)

Number of vowels: 6

In [1]:
#Count the number of consonants in a string.

In [3]:
def count_consonants(string):
    # Define a list of consonants
    consonants = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"
    
    # Initialize a counter for consonants
    consonant_count = 0
    
    # Iterate through the characters in the string
    for char in string:
        # Check if the character is a consonant
        if char in consonants:
            consonant_count += 1
    
    return consonant_count

# Example usage:
input_string = " i am ayush"
result = count_consonants(input_string)
print("Number of consonants:", result)

Number of consonants: 4

In [ ]:
#Remove all whitespaces from a string.

In [5]:
def remove_whitespace(input_string):
    return input_string.replace(" ", "")

# Example usage:
input_string = " i am ayush "
result = remove_whitespace(input_string)
print("String with whitespaces removed:", result)

String with whitespaces removed: iamayush

In [ ]:
#Find the length of a string without using the `len()` function.

In [6]:
def find_string_length(input_string):
    count = 0
    while input_string:
        input_string = input_string[:-1]  # Remove the last character
        count += 1
    return count

# Example usage:
input_string = "i am ayush"
result = find_string_length(input_string)
print("Length of the string:", result)

Length of the string: 10

In [7]:
#Check if a string contains a specific word.

In [11]:
def contains_word(input_string, target_word):
    return target_word in input_string

# Example usage:
input_string = "Hello, World! This is a test."
target_word = "test"
result = contains_word(input_string, target_word)
print(f"The string contains '{target_word}': {result}")

The string contains 'test': True

In [12]:
#Replace a word in a string with another word.

In [13]:
def replace_word(input_string, old_word, new_word):
    return input_string.replace(old_word, new_word)

# Example usage:
input_string = "HI I AM AYUSH ."
old_word = "test"
new_word = "example"
result = replace_word(input_string, old_word, new_word)
print("Modified string:", result)

Modified string: HI I AM AYUSH .

In [1]:
#Count the occurrences of a word in a string.

In [2]:
def count_occurrences(string, word):
    # Split the string into words
    words = string.split()

    # Initialize a count variable to keep track of occurrences
    count = 0

    # Iterate through the words and check if each word matches the target word
    for w in words:
        if w == word:
            count += 1

    return count

# Example usage
input_string = "This is a sample string. This string contains sample text."
target_word = "sample"
result = count_occurrences(input_string, target_word)
print(f"The word '{target_word}' appears {result} times in the string.")

The word 'sample' appears 2 times in the string.

In [3]:
# Find the first occurrence of a word in a string.

In [4]:
def count_occurrences(string, word):
    # Split the string into words
    words = string.split()

    # Initialize a count variable to keep track of occurrences
    count = 0

    # Iterate through the words and check if each word matches the target word
    for w in words:
        if w == word:
            count += 1

    return count

# Example usage
input_string = "This is a sample string. This string contains sample text."
target_word = "sample"
result = count_occurrences(input_string, target_word)
print(f"The word '{target_word}' appears {result} times in the string.")

The word 'sample' appears 2 times in the string.

In [5]:
# Find the last occurrence of a word in a string.

In [6]:
def find_last_occurrence(string, word):
    words = string.split()
    
    for i in range(len(words) - 1, -1, -1):
        if words[i] == word:
            return i
    
    return -1

# Example usage
input_string = "This is a sample string. This string contains sample text."
target_word = "sample"
result = find_last_occurrence(input_string, target_word)

if result != -1:
    print(f"The last occurrence of '{target_word}' is at word index {result}.")
else:
    print(f"'{target_word}' was not found in the string.")

The last occurrence of 'sample' is at word index 8.

In [7]:
# Split a string into a list of words.

In [8]:
input_string = "apple,banana,orange"

# Split the string into a list using a comma as the delimiter
word_list = input_string.split(',')

# Print the list of words
print(word_list)

['apple', 'banana', 'orange']

In [9]:
# Join a list of words into a string.

In [10]:
word_list = ['apple', 'banana', 'orange']

# Join the list of words into a single string with commas between them
joined_string = ','.join(word_list)

# Print the joined string
print(joined_string)

apple,banana,orange

In [12]:
''' q-Convert a string where words are separated by spaces to one where words
are separated by underscores.'''

' q-Convert a string where words are separated by spaces to one where words\nare separated by underscores.'

In [13]:
input_string = "This is a sample string with spaces"

# Replace spaces with underscores
underscored_string = input_string.replace(' ', '_')

# Print the modified string
print(underscored_string)

This_is_a_sample_string_with_spaces

In [14]:
# Check if a string starts with a specific word or phrase.

In [15]:
input_string = "Hello, world!"
prefix = "Hello"

# Check if the string starts with the specified prefix
if input_string.startswith(prefix):
    print(f"The string starts with '{prefix}'.")
else:
    print(f"The string does not start with '{prefix}'.")

The string starts with 'Hello'.

In [16]:
# Check if a string ends with a specific word or phrase.

In [17]:
input_string = "Hello, world!"
suffix = "world!"

# Check if the string ends with the specified suffix
if input_string.endswith(suffix):
    print(f"The string ends with '{suffix}'.")
else:
    print(f"The string does not end with '{suffix}'.")

The string ends with 'world!'.

In [18]:
# Convert a string to title case (e.g., "hello world" to "Hello World").

In [19]:
input_string = "hello world"

# Convert the string to title case
title_case_string = input_string.title()

# Print the title case string
print(title_case_string)

Hello World

In [20]:
# Find the longest word in a string.

In [21]:
def find_longest_word(input_string):
    # Split the string into words
    words = input_string.split()

    # Initialize variables to store the longest word and its length
    longest_word = ""
    max_length = 0

    # Iterate through the words to find the longest one
    for word in words:
        # Remove punctuation (optional)
        word = word.strip('.,!?()[]{}"\'')
        
        if len(word) > max_length:
            max_length = len(word)
            longest_word = word

    return longest_word

# Example usage
input_string = "This is a sample string with some long words like 'elephant' and 'hippopotamus'."
longest_word = find_longest_word(input_string)
print(f"The longest word in the string is '{longest_word}' with a length of {len(longest_word)}.")

The longest word in the string is 'hippopotamus' with a length of 12.

In [22]:
#Find the shortest word in a string.

In [23]:
def find_shortest_word(input_string):
    # Split the string into words
    words = input_string.split()

    # Initialize variables to store the shortest word and its length
    shortest_word = None
    min_length = float('inf')  # Set an initial minimum length to positive infinity

    # Iterate through the words to find the shortest one
    for word in words:
        # Remove punctuation (optional)
        word = word.strip('.,!?()[]{}"\'')
        
        if len(word) < min_length:
            min_length = len(word)
            shortest_word = word

    return shortest_word

# Example usage
input_string = "This is a sample string with some short words like 'cat' and 'dog'."
shortest_word = find_shortest_word(input_string)
if shortest_word is not None:
    print(f"The shortest word in the string is '{shortest_word}' with a length of {len(shortest_word)}.")
else:
    print("No words found in the string.")

The shortest word in the string is 'a' with a length of 1.

In [24]:
# Reverse the order of words in a string.

In [25]:
def reverse_words(input_string):
    # Split the string into words
    words = input_string.split()

    # Reverse the list of words
    reversed_words = words[::-1]

    # Join the reversed words into a string
    reversed_string = ' '.join(reversed_words)

    return reversed_string

# Example usage
input_string = "This is a sample string."
reversed_string = reverse_words(input_string)
print(reversed_string)

string. sample a is This

In [26]:
# 23. Check if a string is alphanumeric.

In [27]:
input_string = "Hello123"

# Check if the string is alphanumeric
if input_string.isalnum():
    print(f"The string '{input_string}' is alphanumeric.")
else:
    print(f"The string '{input_string}' is not alphanumeric.")

The string 'Hello123' is alphanumeric.

In [28]:
# 24. Extract all digits from a string.

In [32]:
import re

input_string = "The price of the product is rs 99.99."

# Use regular expression to find all digits
digits = re.findall(r'\d+', input_string)

# Convert the list of digits to a single string
extracted_digits = ''.join(digits)

# Print the extracted digits
print(extracted_digits)

9999

In [33]:
# Extract all alphabets from a string.

In [34]:
import re

input_string = "The 42 cats are in the garden."

# Use regular expression to find all alphabetic characters
alphabets = re.findall(r'[a-zA-Z]+', input_string)

# Convert the list of alphabets to a single string
extracted_alphabets = ''.join(alphabets)

# Print the extracted alphabets
print(extracted_alphabets)

Thecatsareinthegarden

In [35]:
# Count the number of uppercase letters in a string.

In [37]:
input_string = "I Am  ayush "

# Use a list comprehension to create a list of booleans indicating whether each character is uppercase
is_uppercase = [char.isupper() for char in input_string]

# Use the sum function to count the True values in the list
uppercase_count = sum(is_uppercase)

# Print the count of uppercase letters
print(f"The number of uppercase letters in the string is {uppercase_count}.")

The number of uppercase letters in the string is 2.

In [38]:
# Count the number of lowercase letters in a string.

In [39]:
input_string = "Hello World!"

# Use a list comprehension to create a list of booleans indicating whether each character is lowercase
is_lowercase = [char.islower() for char in input_string]

# Use the sum function to count the True values in the list
lowercase_count = sum(is_lowercase)

# Print the count of lowercase letters
print(f"The number of lowercase letters in the string is {lowercase_count}.")

The number of lowercase letters in the string is 8.

In [40]:
# Swap the case of each character in a string.

In [41]:
input_string = "HI ayush DIxit!"

# Swap the case of each character in the string
swapped_string = input_string.swapcase()

# Print the swapped string
print(swapped_string)

hi AYUSH diXIT!

In [43]:
# Remove a specific word from a string.

In [44]:
input_string = "This is a sample sentence with the word 'sample' in it."
word_to_remove = "sample"

# Remove the specific word from the string
modified_string = input_string.replace(word_to_remove, '')

# Print the modified string
print(modified_string)

This is a  sentence with the word '' in it.

In [45]:
# Check if a string is a valid email address.

In [46]:
import re

def is_valid_email(email):
    # Define a regular expression pattern for a basic email format
    pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    
    # Use re.match() to check if the email matches the pattern
    if re.match(pattern, email):
        return True
    else:
        return False

# Example usage
email = "example@email.com"

if is_valid_email(email):
    print(f"{email} is a valid email address.")
else:
    print(f"{email} is not a valid email address.")

example@email.com is a valid email address.

In [47]:
# Extract the username from an email address string.

In [48]:
import re

email = "example@email.com"

# Define a regular expression pattern to match the username part of an email address
pattern = r'^([a-zA-Z0-9._%+-]+)@'

# Use re.search() to find the username using the pattern
match = re.search(pattern, email)

if match:
    username = match.group(1)
    print(username)
else:
    print("No username found in the email address.")

example

In [49]:
# Extract the domain name from an email address string.

In [50]:
email = "example@email.com"

# Split the email address at the '@' symbol and take the second part
domain = email.split('@')[1]

# Print the extracted domain name
print(domain)

email.com

In [51]:
# 33. Replace multiple spaces in a string with a single space.

In [52]:
import re

input_string = "This    is    a    string   with   multiple    spaces."

# Use regular expression to replace multiple spaces with a single space
modified_string = re.sub(r'\s+', ' ', input_string)

# Print the modified string
print(modified_string)

This is a string with multiple spaces.

In [ ]:
# Check if a string is a valid URL.

In [53]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False

# Example usage
url = "https://www.example.com"

if is_valid_url(url):
    print(f"{url} is a valid URL.")
else:
    print(f"{url} is not a valid URL.")

https://www.example.com is a valid URL.

In [54]:
# Extract the protocol (http or https) from a URL string.

In [55]:
import re

def extract_protocol(url):
    match = re.match(r'^https?://', url)
    if match:
        return match.group()

# Example usage
url = "https://www.example.com"

protocol = extract_protocol(url)

if protocol:
    print(f"The protocol of the URL is {protocol}.")
else:
    print("No valid protocol found in the URL.")

The protocol of the URL is https://.

In [56]:
# Find the frequency of each character in a string.

In [57]:
input_string = "Hello, world!"

# Create an empty dictionary to store character frequencies
char_frequency = {}

# Iterate through the characters in the string
for char in input_string:
    # Check if the character is a letter or digit (you can customize this condition)
    if char.isalnum():
        # Use the character as the key and increment its count in the dictionary
        char_frequency[char] = char_frequency.get(char, 0) + 1

# Print the character frequencies
for char, frequency in char_frequency.items():
    print(f"'{char}': {frequency}")

'H': 1
'e': 1
'l': 3
'o': 2
'w': 1
'r': 1
'd': 1

In [58]:
# 37. Remove all punctuation from a string.

In [59]:
import string

def remove_punctuation(input_string):
    # Create a translation table to remove punctuation
    translator = str.maketrans('', '', string.punctuation)
    
    # Use translate() to remove punctuation
    cleaned_string = input_string.translate(translator)
    
    return cleaned_string

# Example usage
input_string = "Hello, World! This is a sample string with punctuation."

cleaned_string = remove_punctuation(input_string)
print(cleaned_string)

Hello World This is a sample string with punctuation

In [60]:
# 38. Check if a string contains only digits.

In [62]:
import re

input_string = "12345678ad"

# Use regular expression to check if the string contains only digits
if re.match(r'^\d+$', input_string):
    print("The string contains only digits.")
else:
    print("The string contains non-digit characters.")

The string contains non-digit characters.

In [63]:
# Check if a string contains only alphabets.

In [64]:
import re

input_string = "abcdefg"

# Use regular expression to check if the string contains only alphabetic characters
if re.match(r'^[a-zA-Z]+$', input_string):
    print("The string contains only alphabetic characters.")
else:
    print("The string contains non-alphabetic characters.")

The string contains only alphabetic characters.

In [65]:
# Convert a string to a list of characters.

In [66]:
input_string = "Hello, World!"

# Convert the string to a list of characters
char_list = [char for char in input_string]

# Print the list of characters
print(char_list)

['H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!']

In [67]:
# Check if two strings are anagrams.

In [69]:
def are_anagrams(str1, str2):
    # Remove spaces and convert both strings to lowercase for accurate comparison
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    # Check if the sorted characters in both strings are the same
    return sorted(str1) == sorted(str2)

# Example usage
string1 = "listen"
string2 = "silent"

if are_anagrams(string1, string2):
    print(f"{string1} and {string2} are anagrams.")
else:
    print(f"{string1} and {string2} are not anagrams.")

listen and silent are anagrams.

In [70]:
# 42. Encode a string using a Caesar cipher.

In [71]:
def caesar_cipher(text, shift):
    encrypted_text = ""

    for char in text:
        if char.isalpha():
            # Determine whether the character is uppercase or lowercase
            is_upper = char.isupper()
            char = char.lower()
            # Shift the character
            shifted_char = chr(((ord(char) - ord('a') + shift) % 26) + ord('a'))
            # Convert back to uppercase if it was originally uppercase
            if is_upper:
                shifted_char = shifted_char.upper()
            encrypted_text += shifted_char
        else:
            # Keep non-alphabetic characters unchanged
            encrypted_text += char

    return encrypted_text

# Example usage
plaintext = "Hello, World!"
shift_amount = 3

encrypted_text = caesar_cipher(plaintext, shift_amount)
print("Original: ", plaintext)
print("Encoded:   ", encrypted_text)

Original:  Hello, World!
Encoded:    Khoor, Zruog!

In [72]:
# 43. Decode a Caesar cipher encoded string.

In [73]:
def caesar_decipher(encrypted_text, shift):
    decrypted_text = ""

    for char in encrypted_text:
        if char.isalpha():
            # Determine whether the character is uppercase or lowercase
            is_upper = char.isupper()
            char = char.lower()
            # Reverse the shift for decryption
            shifted_char = chr(((ord(char) - ord('a') - shift) % 26) + ord('a'))
            # Convert back to uppercase if it was originally uppercase
            if is_upper:
                shifted_char = shifted_char.upper()
            decrypted_text += shifted_char
        else:
            # Keep non-alphabetic characters unchanged
            decrypted_text += char

    return decrypted_text

# Example usage
encrypted_text = "Khoor, Zruog!"
shift_amount = 3

decrypted_text = caesar_decipher(encrypted_text, shift_amount)
print("Encoded:   ", encrypted_text)
print("Decoded:   ", decrypted_text)

Encoded:    Khoor, Zruog!
Decoded:    Hello, World!

In [74]:
# 44. Find the most frequent word in a string.

In [75]:
def most_frequent_word(input_string):
    # Tokenize the string into words
    words = input_string.split()

    # Create a dictionary to store word frequencies
    word_freq = {}

    # Iterate through the words and count their frequencies
    for word in words:
        # Remove punctuation and convert to lowercase for accurate counting
        word = word.strip('.,!?()[]{}"\'').lower()
        word_freq[word] = word_freq.get(word, 0) + 1

    # Find the word with the highest frequency
    most_common_word = max(word_freq, key=word_freq.get)

    return most_common_word

# Example usage
input_string = "This is a sample string. This string contains sample words, and one word is repeated more often."

most_common_word = most_frequent_word(input_string)
print(f"The most frequent word is '{most_common_word}'")

The most frequent word is 'this'

In [76]:
# Find all unique words in a string.

In [77]:
def unique_words(input_string):
    # Tokenize the string into words
    words = input_string.split()

    # Create a set to store unique words
    unique_word_set = set()

    # Iterate through the words and add them to the set
    for word in words:
        # Remove punctuation and convert to lowercase for accurate counting
        word = word.strip('.,!?()[]{}"\'').lower()
        unique_word_set.add(word)

    return unique_word_set

# Example usage
input_string = "This is a sample string. This string contains sample words, and some words are repeated."

unique_words_set = unique_words(input_string)
print("Unique words in the string:")
for word in unique_words_set:
    print(word)

Unique words in the string:
sample
words
some
a
is
are
and
repeated
contains
string
this

In [78]:
# Count the number of syllables in a string.

In [81]:
def count_syllables(word):
    # Convert the word to lowercase for consistent counting
    word = word.lower()
    
    # Define a set of vowels
    vowels = "aeiouy"
    
    # Initialize a count for syllables
    syllable_count = 0
    
    # Initialize a flag to track consecutive vowels
    prev_is_vowel = False
    
    # Iterate through each character in the word
    for char in word:
        if char in vowels:
            # If the current character is a vowel and the previous character was not,
            # it indicates the start of a new syllable
            if not prev_is_vowel:
                syllable_count += 1
            prev_is_vowel = True
        else:
            prev_is_vowel = False
    
    # Handle special cases where the ending 'e' is silent
    if word.endswith("e"):
        syllable_count -= 1
    
    # Handle single-letter words (e.g., 'a', 'I')
    if len(word) == 1 and word != 'a':
        syllable_count = 1
    
    # Ensure that there's at least one syllable
    syllable_count = max(syllable_count, 1)
    
    return syllable_count

# Example usage
word = "syllables"

syllable_count = count_syllables(word)
print(f"The word '{word}' has {syllable_count} syllables.")

The word 'syllables' has 3 syllables.

In [82]:
# Check if a string contains any special characters.

In [83]:
import re

def contains_special_characters(input_string):
    # Define a regular expression pattern to match special characters
    pattern = r'[!@#$%^&*()_+{}\[\]:;"\'<>,.?/\|\\~`]'
    
    # Use re.search() to check if the pattern is found in the string
    if re.search(pattern, input_string):
        return True
    else:
        return False

# Example usage
input_string = "Hello, World!"

if contains_special_characters(input_string):
    print("The string contains special characters.")
else:
    print("The string does not contain special characters.")

The string contains special characters.

In [84]:
# Remove the nth word from a string.

In [85]:
def remove_nth_word(input_string, n):
    # Tokenize the string into words
    words = input_string.split()

    # Check if the specified index is valid
    if 0 <= n < len(words):
        # Remove the nth word
        del words[n]

        # Join the remaining words back into a string
        modified_string = " ".join(words)

        return modified_string
    else:
        # Return the original string if the index is out of bounds
        return input_string

# Example usage
input_string = "This is a sample sentence."

n = 2  # Index of the word to remove (0-based)

modified_string = remove_nth_word(input_string, n)
print("Original: ", input_string)
print("Modified: ", modified_string)

Original:  This is a sample sentence.
Modified:  This is sample sentence.

In [87]:
# Insert a word at the nth position in a string.

In [88]:
def insert_word_at_nth_position(input_string, word_to_insert, n):
    # Tokenize the string into words
    words = input_string.split()

    # Check if the specified index is valid
    if 0 <= n <= len(words):
        # Insert the new word at the nth position
        words.insert(n, word_to_insert)

        # Join the words back into a string
        modified_string = " ".join(words)

        return modified_string
    else:
        # Return the original string if the index is out of bounds
        return input_string

# Example usage
input_string = "This is a sample sentence."

word_to_insert = "new"
n = 2  # Index at which to insert the word (0-based)

modified_string = insert_word_at_nth_position(input_string, word_to_insert, n)
print("Original: ", input_string)
print("Modified: ", modified_string)

Original:  This is a sample sentence.
Modified:  This is new a sample sentence.

In [89]:
# Convert a CSV string to a list of lists.

In [90]:
csv_string = "1,John,Doe\n2,Jane,Smith\n3,Bob,Johnson"

# Split the CSV string into a list of lines
lines = csv_string.split('\n')

# Split each line into a list of values based on commas
csv_list = [line.split(',') for line in lines]

# Print the list of lists
for row in csv_list:
    print(row)

['1', 'John', 'Doe']
['2', 'Jane', 'Smith']
['3', 'Bob', 'Johnson']

In [91]:
#now we will do  list based questions

In [1]:
# Create a list with integers from 1 to 10.

In [2]:
a=[1,2,3,4,5,6,7,8,9,10]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# Find the length of a list without using the `len()` function.

In [8]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Initialize a variable to count the elements
count = 0

# Iterate through the list and increment the count for each element
for _ in my_list:
    count += 1

# The count variable now holds the length of the list
print("The length of the list is:", count)

The length of the list is: 10

In [9]:
# Append an element to the end of a list.

In [10]:
my_list = [1, 2, 3, 4, 5]
new_element = 6

my_list.append(new_element)

print(my_list)

[1, 2, 3, 4, 5, 6]

In [11]:
# 4. Insert an element at a specific index in a list.

In [12]:
my_list = [1, 2, 3, 5, 6]
new_element = 4
index_to_insert = 3  # Index at which you want to insert the new element

# Use the insert() method to insert the new element at the specified index
my_list.insert(index_to_insert, new_element)

print(my_list)

[1, 2, 3, 4, 5, 6]

In [13]:
# Remove an element from a list by its value.

In [14]:
my_list = [1, 2, 3, 4, 5]
element_to_remove = 3

# Use the remove() method to remove the element by its value
my_list.remove(element_to_remove)

print(my_list)

[1, 2, 4, 5]

In [15]:
# Remove an element from a list by its index.

In [16]:
my_list = [1, 2, 3, 4, 5]
index_to_remove = 2  # Index of the element you want to remove

# Use the pop() method to remove the element at the specified index
removed_element = my_list.pop(index_to_remove)

print("Removed element:", removed_element)
print("Updated list:", my_list)

Removed element: 3
Updated list: [1, 2, 4, 5]

In [18]:
# Remove an element from a list by its index.

In [19]:
my_list = [1, 2, 3, 4, 5]
index_to_remove = 2  # Index of the element you want to remove

# Use the pop() method to remove the element at the specified index
removed_element = my_list.pop(index_to_remove)

print("Removed element:", removed_element)
print("Updated list:", my_list)

Removed element: 3
Updated list: [1, 2, 4, 5]

In [20]:
# 7. Check if an element exists in a list.

In [21]:
my_list = [1, 2, 3, 4, 5]
element_to_check = 3

if element_to_check in my_list:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

3 exists in the list.

In [22]:
# Find the index of the first occurrence of an element in a list.

In [23]:
my_list = [1, 2, 3, 4, 5]
element_to_find = 3

# Use the index() method to find the index of the first occurrence of the element
index = my_list.index(element_to_find)

print(f"The index of {element_to_find} is: {index}")

The index of 3 is: 2

In [24]:
# 9. Count the occurrences of an element in a list.

In [25]:
my_list = [1, 2, 3, 3, 4, 5, 3]
element_to_count = 3

# Use the count() method to count the occurrences of the element
count = my_list.count(element_to_count)

print(f"The element {element_to_count} appears {count} times in the list.")

The element 3 appears 3 times in the list.

In [26]:
# 10. Reverse the order of elements in a list.

In [27]:
my_list = [1, 2, 3, 4, 5]
my_list = my_list[::-1]

print(my_list)

[5, 4, 3, 2, 1]

In [28]:
# 11. Sort a list in ascending order.

In [29]:
my_list = [5, 2, 9, 1, 5, 6]
sorted_list = sorted(my_list)

print(sorted_list)

[1, 2, 5, 5, 6, 9]

In [30]:
# 12. Sort a list in descending order.

In [31]:
my_list = [5, 2, 9, 1, 5, 6]
sorted_list_desc = sorted(my_list, reverse=True)

print(sorted_list_desc)

[9, 6, 5, 5, 2, 1]

In [32]:
# 13. Create a list of even numbers from 1 to 20.

In [33]:
even_numbers = [x for x in range(1, 21) if x % 2 == 0]

print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [34]:
# 14. Create a list of odd numbers from 1 to 20.

In [35]:
odd_numbers = [x for x in range(1, 21) if x % 2 != 0]

print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [36]:
# 15. Find the sum of all elements in a list.

In [37]:
my_list = [1, 2, 3, 4, 5]

# Use the sum() function to find the sum of all elements in the list
list_sum = sum(my_list)

print("The sum of all elements in the list is:", list_sum)

The sum of all elements in the list is: 15

In [38]:
# 16. Find the maximum value in a list.

In [39]:
my_list = [12, 45, 78, 34, 56, 89, 23]

# Use the max() function to find the maximum value in the list
max_value = max(my_list)

print("The maximum value in the list is:", max_value)

The maximum value in the list is: 89

In [40]:
# 17. Find the minimum value in a list.

In [41]:
my_list = [12, 45, 78, 34, 56, 89, 23]

# Use the min() function to find the minimum value in the list
min_value = min(my_list)

print("The minimum value in the list is:", min_value)

The minimum value in the list is: 12

In [42]:
# 18. Create a list of squares of numbers from 1 to 10.

In [43]:
squares_list = [x**2 for x in range(1, 11)]

print(squares_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [44]:
# 19. Create a list of random numbers.

In [45]:
import random

# Specify the number of random numbers you want and the range
num_random_numbers = 10
min_value = 1
max_value = 100

# Use a list comprehension to generate random numbers
random_numbers = [random.randint(min_value, max_value) for _ in range(num_random_numbers)]

print(random_numbers)

[56, 2, 50, 16, 25, 14, 81, 98, 28, 71]

In [46]:
# 20. Remove duplicates from a list.

In [48]:
my_list = [1, 2, 2, 3, 4, 4, 5]

# Create an empty list to store unique elements
unique_list = []

# Iterate through the original list
for item in my_list:
    if item not in unique_list:
        unique_list.append(item)

print(unique_list)

[1, 2, 3, 4, 5]

In [50]:
# 21. Find the common elements between two lists.

In [51]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Find common elements using set intersection
set1 = set(list1)
set2 = set(list2)
common_elements = list(set1.intersection(set2))

print(common_elements)

[3, 4, 5]

In [52]:
# 22. Find the difference between two lists.

In [53]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Find elements unique to list1 (set difference)
difference = list(set(list1) - set(list2))

print(difference)

[1, 2]

In [ ]:
# 23. Merge two lists.

In [56]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Merge the two lists using the + operator
merged_list = list1 + list2

print(merged_list)

[1, 2, 3, 4, 5, 6]

In [57]:
# 24. Multiply all elements in a list by 2.

In [58]:
my_list = [1, 2, 3, 4, 5]

# Iterate through the list and multiply each element by 2
for i in range(len(my_list)):
    my_list[i] = my_list[i] * 2

print(my_list)

[2, 4, 6, 8, 10]

In [59]:
# 25. Filter out all even numbers from a list.

In [60]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Use a list comprehension to filter out even numbers
filtered_list = [x for x in my_list if x % 2 != 0]

print(filtered_list)

[1, 3, 5, 7, 9]

In [61]:
# 26. Convert a list of strings to a list of integers.

In [62]:
string_list = ["1", "2", "3", "4", "5"]

# Use a list comprehension to convert the strings to integers
integer_list = [int(x) for x in string_list]

print(integer_list)

[1, 2, 3, 4, 5]

In [63]:
# 27. Convert a list of integers to a list of strings.

In [64]:
integer_list = [1, 2, 3, 4, 5]

# Use a list comprehension to convert the integers to strings
string_list = [str(x) for x in integer_list]

print(string_list)

['1', '2', '3', '4', '5']

In [65]:
# 28. Flatten a nested list.

In [66]:
nested_list = [1, [2, 3], [4, [5, 6]], 7]

# Use list comprehension to flatten the nested list
flattened_list = [item for sublist in nested_list for item in (sublist if isinstance(sublist, list) else [sublist])]

print(flattened_list)

[1, 2, 3, 4, [5, 6], 7]

In [67]:
# 29. Create a list of the first 10 Fibonacci numbers.

In [68]:
# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_sequence = []
    a, b = 0, 1

    for _ in range(n):
        fibonacci_sequence.append(a)
        a, b = b, a + b

    return fibonacci_sequence

# Create a list of the first 10 Fibonacci numbers
fibonacci_list = generate_fibonacci(10)

print(fibonacci_list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [69]:
# 30. Check if a list is sorted.

In [70]:
def is_sorted(arr):
    n = len(arr)
    for i in range(1, n):
        if arr[i - 1] > arr[i]:
            return False
    return True

# Example usage:
my_list = [1, 2, 3, 4, 5]
if is_sorted(my_list):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is sorted in ascending order.

In [71]:
# 31. Rotate a list to the left by `n` positions.

In [72]:
def rotate_left(arr, n):
    # Calculate the effective rotation index
    n = n % len(arr)
    
    # Rotate the list to the left
    rotated_list = arr[n:] + arr[:n]
    
    return rotated_list

# Example usage:
my_list = [1, 2, 3, 4, 5]
n = 2  # Rotate left by 2 positions

rotated = rotate_left(my_list, n)
print(rotated)

[3, 4, 5, 1, 2]

In [73]:
# 32. Rotate a list to the right by `n` positions.

In [74]:
def rotate_right(arr, n):
    # Calculate the effective rotation index
    n = n % len(arr)
    
    # Rotate the list to the right
    rotated_list = arr[-n:] + arr[:-n]
    
    return rotated_list

# Example usage:
my_list = [1, 2, 3, 4, 5]
n = 2  # Rotate right by 2 positions

rotated = rotate_right(my_list, n)
print(rotated)

[4, 5, 1, 2, 3]

In [75]:
# 33. Create a list of prime numbers up to 50.

In [77]:
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

# Create a list of prime numbers up to 50
prime_numbers = [num for num in range(2, 51) if is_prime(num)]

print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [78]:
# 34. Split a list into chunks of size `n`.

In [79]:
def split_into_chunks(arr, n):
    # Initialize an empty list to store the chunks
    chunks = []

    for i in range(0, len(arr), n):
        chunk = arr[i:i + n]
        chunks.append(chunk)

    return chunks

# Example usage:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
chunk_size = 3

chunks = split_into_chunks(my_list, chunk_size)
print(chunks)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [81]:
# 35. Find the second largest number in a list.

In [82]:
def second_largest(arr):
    if len(arr) < 2:
        return "List has fewer than 2 elements"
    
    largest = second = float('-inf')  # Initialize largest and second to negative infinity
    
    for num in arr:
        if num > largest:
            second = largest
            largest = num
        elif num > second and num != largest:
            second = num
    
    if second == float('-inf'):
        return "No second largest element found"
    
    return second

# Example usage:
my_list = [3, 1, 7, 4, 5, 6, 2]

second_largest_number = second_largest(my_list)
print("The second largest number is:", second_largest_number)

The second largest number is: 6

In [83]:
# 36. Replace every element in a list with its square.

In [84]:
my_list = [1, 2, 3, 4, 5]

# Use a loop to square each element in the list
for i in range(len(my_list)):
    my_list[i] = my_list[i] ** 2

print(my_list)

[1, 4, 9, 16, 25]

In [85]:
# 37. Convert a list to a dictionary where list elements become keys and their
# indices become values.

In [86]:
my_list = ["apple", "banana", "cherry", "date"]

# Use a dictionary comprehension to create the dictionary
result_dict = {value: index for index, value in enumerate(my_list)}

print(result_dict)

{'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

In [87]:
# 38. Shuffle the elements of a list randomly.

In [88]:
import random

my_list = [1, 2, 3, 4, 5]

# Shuffle the list randomly
random.shuffle(my_list)

print(my_list)

[5, 3, 2, 1, 4]

In [89]:
# 39. Create a list of the first 10 factorial numbers.

In [90]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

# Create a list of the first 10 factorial numbers
factorial_list = [factorial(i) for i in range(10)]

print(factorial_list)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [91]:
# 40. Check if two lists have at least one element in common.

In [96]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Check if there is an intersection using set intersection
set1 = set(list1)
set2 = set(list2)

if set1.intersection(set2):
    print("The lists have at least one common element.")
else:
    print("The lists have no common elements.")

The lists have at least one common element.

In [97]:
# 41. Remove all elements from a list.

In [98]:
my_list = [1, 2, 3, 4, 5]

# Remove all elements from the list using clear()
my_list.clear()

print(my_list)  # Output: []

[]

In [99]:
# 42. Replace negative numbers in a list with 0.

In [100]:
my_list = [1, -2, 3, -4, 5]

# Use a loop to replace negative numbers with 0
for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0

print(my_list)

[1, 0, 3, 0, 5]

In [101]:
# 43. Convert a string into a list of words.

In [102]:
# Input string
input_string = "This is a sample sentence."

# Convert the string into a list of words
word_list = input_string.split()

print(word_list)

['This', 'is', 'a', 'sample', 'sentence.']

In [103]:
# 44. Convert a list of words into a string.

In [104]:
# List of words
word_list = ['This', 'is', 'a', 'list', 'of', 'words']

# Convert the list of words into a string
output_string = ' '.join(word_list)

print(output_string)

This is a list of words

In [106]:
# 45. Create a list of the first `n` powers of 2.

In [107]:
def powers_of_2(n):
    powers_list = [2**i for i in range(n)]
    return powers_list

# Example usage:
n = 5  # Generate the first 5 powers of 2

powers_list = powers_of_2(n)
print(powers_list)

[1, 2, 4, 8, 16]

In [108]:
# 46. Find the longest string in a list of strings.

In [109]:
string_list = ["apple", "banana", "cherry", "date", "fig"]

# Find the longest string using the max() function
longest_string = max(string_list, key=len)

print("The longest string is:", longest_string)

The longest string is: banana

In [110]:
# 47. Find the shortest string in a list of strings.

In [111]:
string_list = ["apple", "banana", "cherry", "date", "fig"]

# Find the shortest string using the min() function
shortest_string = min(string_list, key=len)

print("The shortest string is:", shortest_string)

The shortest string is: fig

In [112]:
# 48. Create a list of the first `n` triangular numbers.

In [113]:
def generate_triangular_numbers(n):
    triangular_numbers = []
    total = 0

    for i in range(1, n + 1):
        total += i
        triangular_numbers.append(total)

    return triangular_numbers

# Example usage:
n = 5  # Generate the first 5 triangular numbers

triangular_numbers_list = generate_triangular_numbers(n)
print(triangular_numbers_list)

[1, 3, 6, 10, 15]

In [114]:
# 49. Check if a list contains another list as a subsequence.

In [116]:
def is_subsequence(main_list, subsequence):
    # Initialize indices for the main list and subsequence
    main_index = 0
    sub_index = 0

    # Iterate through the main list
    while main_index < len(main_list) and sub_index < len(subsequence):
        # If the elements match, move to the next element in the subsequence
        if main_list[main_index] == subsequence[sub_index]:
            sub_index += 1
        main_index += 1

    # If all elements of the subsequence are found, it's a subsequence
    return sub_index == len(subsequence)

# Example usage:
main_list = [1, 2, 3, 4, 5, 6]
subsequence = [2, 4, 6]

if is_subsequence(main_list, subsequence):
    print("The subsequence is present in the main list.")
else:
    print("The subsequence is not present in the main list.")

The subsequence is present in the main list.

In [117]:
# 50. Swap two elements in a list by their indices.

In [118]:
def swap_elements_by_indices(arr, index1, index2):
    # Check if the indices are valid
    if 0 <= index1 < len(arr) and 0 <= index2 < len(arr):
        # Swap the elements without a temporary variable
        arr[index1], arr[index2] = arr[index2], arr[index1]
    else:
        print("Invalid indices provided.")

# Example usage:
my_list = [1, 2, 3, 4, 5]

# Swap elements at indices 1 and 3
swap_elements_by_indices(my_list, 1, 3)

print(my_list)

[1, 4, 3, 2, 5]

In [119]:
# Tuple Based Practice Problem :

In [120]:
# 1. Create a tuple with integers from 1 to 5.

In [122]:
my_tuple = (1, 2, 3, 4, 5)

In [123]:
# 2. Access the third element of a tuple.

In [127]:
my_tuple = (1, 2, 3, 4, 5)
third_element = my_tuple[2]  
print(third_element)

3

In [128]:
# 4. Count the occurrences of an element in a tuple.

In [129]:
my_tuple = (1, 2, 2, 3, 4, 2, 5)
element_to_count = 2  # The element you want to count
count = my_tuple.count(element_to_count)
print(count)

3

In [130]:
# 5. Find the index of the first occurrence of an element in a tuple.

In [131]:
my_tuple = (1, 2, 3, 4, 5, 2)
element_to_find = 2  # The element you want to find
index = my_tuple.index(element_to_find)
print(index)

1

In [132]:
# 6. Check if an element exists in a tuple.

In [133]:
my_tuple = (1, 2, 3, 4, 5)
element_to_check = 3  # The element you want to check for
if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

3 exists in the tuple.

In [134]:
# 7. Convert a tuple to a list.

In [136]:
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)
print(my_list)

[1, 2, 3, 4, 5]

In [137]:
# 8. Convert a list to a tuple.

In [139]:
my_list = [1, 2, 3, 4, 5]
a = tuple(my_list)
print(a)

(1, 2, 3, 4, 5)

In [140]:
# 9. Unpack the elements of a tuple into variables.

In [141]:
my_tuple = (1, 2, 3)
var1, var2, var3 = my_tuple

In [142]:
# 10. Create a tuple of even numbers from 1 to 10.

In [144]:
a = tuple(x for x in range(2, 11, 2))
print(a)

(2, 4, 6, 8, 10)

In [145]:
# 12. Concatenate two tuples.

In [146]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2

In [147]:
# 13. Repeat a tuple three times.

In [148]:
original_tuple = (1, 2, 3)

# Repeat the tuple three times
repeated_tuple = original_tuple * 3

print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [149]:
# 14. Check if a tuple is empty.

In [150]:
my_tuple = ()

if len(my_tuple) == 0:
    print("The tuple is empty")
else:
    print("The tuple is not empty")

The tuple is empty

In [151]:
# 15. Create a nested tuple.

In [152]:
nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))

# Accessing elements within the nested tuple
print(nested_tuple[0])  # Prints (1, 2, 3)
print(nested_tuple[1][2])  # Prints 6

(1, 2, 3)
6

In [153]:
# 16. Access the first element of a nested tuple.

In [154]:
nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))

# Accessing the first element of the outer tuple
first_element_outer = nested_tuple[0]

# Accessing the first element of the inner tuple
first_element_inner = first_element_outer[0]

print(first_element_inner)  # Prints 1

1

In [155]:
# 17. Create a tuple with a single element.

In [156]:
single_element_tuple = (42,)  # Note the trailing comma

# Verify the type of the tuple
print(type(single_element_tuple))  # Prints <class 'tuple'>

<class 'tuple'>

In [157]:
# 18. Compare two tuples.

In [158]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Compare for equality
if tuple1 == tuple2:
    print("tuple1 is equal to tuple2")
else:
    print("tuple1 is not equal to tuple2")

# Compare for inequality
if tuple1 != tuple2:
    print("tuple1 is not equal to tuple2")
else:
    print("tuple1 is equal to tuple2")

# Compare using less than operator
if tuple1 < tuple2:
    print("tuple1 is less than tuple2")
else:
    print("tuple1 is not less than tuple2")

# Compare using greater than operator
if tuple1 > tuple2:
    print("tuple1 is greater than tuple2")
else:
    print("tuple1 is not greater than tuple2")

tuple1 is not equal to tuple2
tuple1 is not equal to tuple2
tuple1 is less than tuple2
tuple1 is not greater than tuple2

In [159]:
# 19. Delete a tuple.

In [161]:
my_tuple = (1, 2, 3, 4, 5)

# Deleting the entire tuple
del my_tuple

# print(my_tuple)

In [162]:
# 20. Slice a tuple.

In [163]:
my_tuple = (1, 2, 3, 4, 5)

# Slice from index 1 to 3 (exclusive)
slice1 = my_tuple[1:3]
print(slice1)  # Output: (2, 3)

# Slice from the beginning to index 3 (exclusive)
slice2 = my_tuple[:3]
print(slice2)  # Output: (1, 2, 3)

# Slice from index 2 to the end
slice3 = my_tuple[2:]
print(slice3)  # Output: (3, 4, 5)

# Slice with a step of 2
slice4 = my_tuple[::2]
print(slice4)  # Output: (1, 3, 5)

(2, 3)
(1, 2, 3)
(3, 4, 5)
(1, 3, 5)

In [1]:
# 21. Find the maximum value in a tuple.

In [2]:
# Define a tuple
my_tuple = (12, 45, 7, 23, 56, 89, 34)

# Find the maximum value
max_value = max(my_tuple)

# Print the maximum value
print("The maximum value in the tuple is:", max_value)

The maximum value in the tuple is: 89

In [3]:
# 22. Find the minimum value in a tuple.

In [4]:
# Define a tuple
my_tuple = (12, 45, 7, 23, 56, 89, 34)

# Find the minimum value
min_value = min(my_tuple)

# Print the minimum value
print("The minimum value in the tuple is:", min_value)

The minimum value in the tuple is: 7

In [5]:
# 24. Convert a tuple of characters to a string.

In [6]:
# Define a tuple of characters
char_tuple = ('H', 'e', 'l', 'l', 'o')

# Convert the tuple to a string
char_string = ''.join(char_tuple)

# Print the resulting string
print("The converted string is:", char_string)

The converted string is: Hello

In [7]:
# 25. Create a tuple from multiple data types.

In [8]:
# Create a tuple with multiple data types
mixed_tuple = (42, "Hello", 3.1415, True)

# Print the tuple
print(mixed_tuple)

(42, 'Hello', 3.1415, True)

In [9]:
# 26. Check if two tuples are identical.

In [10]:
# Define two tuples
tuple1 = (1, 2, 3, 4)
tuple2 = (1, 2, 3, 4)

# Check if the two tuples are identical
are_identical = (tuple1 == tuple2)

# Print the result
if are_identical:
    print("The two tuples are identical.")
else:
    print("The two tuples are not identical.")

The two tuples are identical.

In [11]:
# 27. Sort the elements of a tuple.

In [12]:
# Define a tuple
my_tuple = (9, 3, 7, 1, 5)

# Sort the elements and create a new tuple
sorted_tuple = tuple(sorted(my_tuple))

# Print the sorted tuple
print("Original tuple:", my_tuple)
print("Sorted tuple:", sorted_tuple)

Original tuple: (9, 3, 7, 1, 5)
Sorted tuple: (1, 3, 5, 7, 9)

In [13]:
# 28. Convert a tuple of integers to a tuple of strings.

In [14]:
# Define a tuple of integers
int_tuple = (1, 2, 3, 4, 5)

# Convert the tuple of integers to a tuple of strings
str_tuple = tuple(str(x) for x in int_tuple)

# Print the resulting tuple of strings
print("Original tuple of integers:", int_tuple)
print("Tuple of strings:", str_tuple)

Original tuple of integers: (1, 2, 3, 4, 5)
Tuple of strings: ('1', '2', '3', '4', '5')

In [15]:
# 29. Convert a tuple of strings to a tuple of integers.

In [16]:
# Define a tuple of strings
str_tuple = ('1', '2', '3', '4', '5')

# Convert the tuple of strings to a tuple of integers
int_tuple = tuple(int(x) for x in str_tuple)

# Print the resulting tuple of integers
print("Original tuple of strings:", str_tuple)
print("Tuple of integers:", int_tuple)

Original tuple of strings: ('1', '2', '3', '4', '5')
Tuple of integers: (1, 2, 3, 4, 5)

In [17]:
# 30. Merge two tuples.

In [18]:
# Define two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Merge the two tuples
merged_tuple = tuple1 + tuple2

# Print the merged tuple
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

In [19]:
# 31. Flatten a nested tuple.

In [20]:
# Define a nested tuple
nested_tuple = (1, (2, 3), (4, (5, 6)), 7)

# Function to flatten a nested tuple
def flatten_tuple(nested):
    flat_list = []
    for item in nested:
        if isinstance(item, tuple):
            flat_list.extend(flatten_tuple(item))
        else:
            flat_list.append(item)
    return flat_list

# Flatten the nested tuple
flat_tuple = tuple(flatten_tuple(nested_tuple))

# Print the flattened tuple
print("Nested tuple:", nested_tuple)
print("Flattened tuple:", flat_tuple)

Nested tuple: (1, (2, 3), (4, (5, 6)), 7)
Flattened tuple: (1, 2, 3, 4, 5, 6, 7)

In [21]:
# 32. Create a tuple of the first 5 prime numbers.

In [22]:
# Define a tuple of the first 5 prime numbers
prime_numbers = (2, 3, 5, 7, 11)

# Print the tuple
print("Tuple of the first 5 prime numbers:", prime_numbers)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [23]:
# 33. Check if a tuple is a palindrome.

In [24]:
def is_tuple_palindrome(input_tuple):
    # Convert the tuple to a list
    input_list = list(input_tuple)
    
    # Compare the list with its reverse
    return input_list == input_list[::-1]

# Example usage:
my_tuple = (1, 2, 3, 2, 1)
result = is_tuple_palindrome(my_tuple)
print(result)  # This will print True because (1, 2, 3, 2, 1) is a palindrome.

True

In [25]:
# 34. Create a tuple of squares of numbers from 1 to 5.

In [26]:
# Create a tuple of squares of numbers from 1 to 5
squares_tuple = tuple(x ** 2 for x in range(1, 6))

# Print the tuple
print(squares_tuple)

(1, 4, 9, 16, 25)

In [28]:
# 35. Filter out all even numbers from a tuple.

In [29]:
# Original tuple
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Create a new tuple with only odd numbers
filtered_tuple = tuple(x for x in original_tuple if x % 2 != 0)

# Print the filtered tuple
print(filtered_tuple)

(1, 3, 5, 7, 9)

In [30]:
# Multiply all elements in a tuple by 2.

In [31]:
# Original tuple
original_tuple = (1, 2, 3, 4, 5)

# Create a new tuple with elements multiplied by 2
doubled_tuple = tuple(x * 2 for x in original_tuple)

# Print the doubled tuple
print(doubled_tuple)

(2, 4, 6, 8, 10)

In [32]:
# 37. Create a tuple of random numbers.

In [33]:
import random

# Create a tuple of 5 random numbers between 1 and 100
random_tuple = tuple(random.randint(1, 100) for _ in range(5))

# Print the random tuple
print(random_tuple)

(37, 45, 47, 7, 7)

In [34]:
# 38. Check if a tuple is sorted.

In [35]:
def is_tuple_sorted(input_tuple):
    for i in range(len(input_tuple) - 1):
        if input_tuple[i] > input_tuple[i + 1]:
            return False
    return True

# Example usage:
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 2, 4)

print(is_tuple_sorted(sorted_tuple))  # This will print True
print(is_tuple_sorted(unsorted_tuple))  # This will print False

True
False

In [36]:
# 39. Rotate a tuple to the left by `n` positions.

In [37]:
def rotate_tuple_left(input_tuple, n):
    # Calculate the effective rotation amount (taking into account overflow)
    n = n % len(input_tuple)
    
    # Create a new tuple by slicing and rearranging elements
    rotated_tuple = input_tuple[n:] + input_tuple[:n]
    
    return rotated_tuple

# Example usage:
original_tuple = (1, 2, 3, 4, 5)
n = 2
rotated = rotate_tuple_left(original_tuple, n)
print(rotated)

(3, 4, 5, 1, 2)

In [39]:
# 40. Rotate a tuple to the right by `n` positions.

In [38]:
def rotate_tuple_right(input_tuple, n):
    # Calculate the effective rotation amount (taking into account overflow)
    n = n % len(input_tuple)
    
    # Create a new tuple by slicing and rearranging elements
    rotated_tuple = input_tuple[-n:] + input_tuple[:-n]
    
    return rotated_tuple

# Example usage:
original_tuple = (1, 2, 3, 4, 5)
n = 2
rotated = rotate_tuple_right(original_tuple, n)
print(rotated)

(4, 5, 1, 2, 3)

In [40]:
# 41. Create a tuple of the first 5 Fibonacci numbers.

In [41]:
# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci = [0, 1]  # Initialize with the first two Fibonacci numbers

    while len(fibonacci) < n:
        next_fib = fibonacci[-1] + fibonacci[-2]
        fibonacci.append(next_fib)

    return fibonacci

# Create a tuple of the first 5 Fibonacci numbers
first_5_fibonacci = tuple(generate_fibonacci(5))

# Print the tuple
print(first_5_fibonacci)

(0, 1, 1, 2, 3)

In [42]:
# 42. Create a tuple from user input.

In [44]:
# Prompt the user for input and split it into elements
user_input = input("Enter elements separated by spaces: ")
input_elements = user_input.split()

# Convert the input elements to a tuple
user_tuple = tuple(input_elements)

# Print the resulting tuple
print(user_tuple)

Enter elements separated by spaces:  ayush dixit

('ayush', 'dixit')

In [45]:
# 43. Swap two elements in a tuple.

In [46]:
# Original tuple
original_tuple = (1, 2, 3, 4, 5)

# Indices of the elements you want to swap
index1 = 2
index2 = 4

# Convert the tuple to a list to make the swap
temp_list = list(original_tuple)

# Swap the elements at the specified indices
temp_list[index1], temp_list[index2] = temp_list[index2], temp_list[index1]

# Create a new tuple from the modified list
swapped_tuple = tuple(temp_list)

# Print the swapped tuple
print(swapped_tuple)

(1, 2, 5, 4, 3)

In [47]:
# 44. Reverse the elements of a tuple.

In [48]:
# Original tuple
original_tuple = (1, 2, 3, 4, 5)

# Create a new tuple with reversed elements
reversed_tuple = tuple(reversed(original_tuple))

# Print the reversed tuple
print(reversed_tuple)

(5, 4, 3, 2, 1)

In [49]:
# 45. Create a tuple of the first `n` powers of 2.

In [50]:
def powers_of_2(n):
    powers_tuple = tuple(2 ** i for i in range(n))
    return powers_tuple

# Example usage:
n = 5  # You can change this to the number of powers you want
result = powers_of_2(n)
print(result)

(1, 2, 4, 8, 16)

In [51]:
# 46. Find the longest string in a tuple of strings.

In [52]:
def longest_string_in_tuple(strings_tuple):
    if not strings_tuple:
        return None  # Return None for an empty tuple

    longest = strings_tuple[0]  # Initialize with the first string

    for string in strings_tuple:
        if len(string) > len(longest):
            longest = string

    return longest

# Example usage:
my_tuple = ("apple", "banana", "cherry", "date", "elderberry")
longest = longest_string_in_tuple(my_tuple)
print(longest)

elderberry

In [53]:
# 47. Find the shortest string in a tuple of strings.

In [54]:
def shortest_string_in_tuple(strings_tuple):
    if not strings_tuple:
        return None  # Return None for an empty tuple

    shortest = strings_tuple[0]  # Initialize with the first string

    for string in strings_tuple:
        if len(string) < len(shortest):
            shortest = string

    return shortest

# Example usage:
my_tuple = ("apple", "banana", "cherry", "date", "elderberry")
shortest = shortest_string_in_tuple(my_tuple)
print(shortest)

date

In [55]:
# 48. Create a tuple of the first `n` triangular numbers.

In [56]:
def generate_triangular_numbers(n):
    triangular_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
    return triangular_tuple

# Example usage:
n = 5  # You can change this to the number of triangular numbers you want
result = generate_triangular_numbers(n)
print(result)

(1, 3, 6, 10, 15)

In [57]:
# 49. Check if a tuple contains another tuple as a subsequence.

In [58]:
def contains_subsequence(main_tuple, sub_tuple):
    main_len = len(main_tuple)
    sub_len = len(sub_tuple)

    if sub_len == 0:
        return True  # An empty tuple is always a subsequence

    if sub_len > main_len:
        return False  # The sub_tuple is longer than the main_tuple

    for i in range(main_len - sub_len + 1):
        if main_tuple[i:i + sub_len] == sub_tuple:
            return True  # Found a matching subsequence

    return False  # No matching subsequence found

# Example usage:
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
sub_tuple = (3, 4, 5)
result = contains_subsequence(main_tuple, sub_tuple)
print(result)  # This will print True because (3, 4, 5) is a subsequence of (1, 2, 3, 4, 5, 6, 7, 8, 9)

True

In [59]:
# 50. Create a tuple of alternating 1s and 0s of length `n`.

In [60]:
def alternating_ones_zeros_tuple(n):
    # Use list comprehension to create a list of alternating 1s and 0s
    alternating_list = [1 if i % 2 == 0 else 0 for i in range(n)]

    # Convert the list to a tuple
    alternating_tuple = tuple(alternating_list)

    return alternating_tuple

# Example usage:
n = 8  # Change this to the desired length of the tuple
result = alternating_ones_zeros_tuple(n)
print(result)

(1, 0, 1, 0, 1, 0, 1, 0)

In [61]:
# Set Based Practice Problem :

In [62]:
# 1. Create a set with integers from 1 to 5.

In [64]:
a= {1, 2, 3, 4, 5}
print(a)

{1, 2, 3, 4, 5}

In [65]:
# 2. Add an element to a set.

In [67]:
my_set = {1, 2, 3, 4, 5}  # Existing set
my_set.add(6) # Add the element 6 to the set
print(my_set)

{1, 2, 3, 4, 5, 6}

In [68]:
# 3. Remove an element from a set.

In [69]:
my_set = {1, 2, 3, 4, 5}
my_set.remove(3)  # Removes the element 3 from the set
print(my_set)

{1, 2, 4, 5}

In [70]:
# 4. Check if an element exists in a set.

In [71]:
my_set = {1, 2, 3, 4, 5}
elements_to_check = {3, 6}

if elements_to_check.issubset(my_set):
    print(f"All elements in {elements_to_check} exist in the set.")
else:
    print(f"Not all elements in {elements_to_check} exist in the set.")

Not all elements in {3, 6} exist in the set.

In [72]:
# 5. Find the length of a set without using the `len()` function.

In [73]:
my_set = {1, 2, 3, 4, 5}
count = 0

for _ in my_set:
    count += 1

print(f"The length of the set is {count}.")

The length of the set is 5.

In [74]:
# 6. Clear all elements from a set.

In [75]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()  # Removes all elements from the set

# Now, my_set is an empty set
print(my_set)  # Output: set()

set()

In [76]:
# 7. Create a set of even numbers from 1 to 10.

In [78]:
even_numbers = {x for x in range(1, 11) if x % 2 == 0}
print(even_numbers)

{2, 4, 6, 8, 10}

In [79]:
# 8. Create a set of odd numbers from 1 to 10.

In [80]:
odd_numbers = {x for x in range(1, 11) if x % 2 != 0}
print(odd_numbers)

{1, 3, 5, 7, 9}

In [82]:
# 9. Find the union of two sets.

In [83]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

union_set = set1 | set2

print(union_set)

{1, 2, 3, 4, 5, 6}

In [84]:
# 10. Find the intersection of two sets.

In [85]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

intersection_set = set1.intersection(set2)

print(intersection_set)

{3, 4}

In [86]:
# 11. Find the difference between two sets.

In [87]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

difference_set = set1 - set2

print(difference_set)

{1, 2}

In [88]:
# 12. Check if a set is a subset of another set.

In [89]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

if is_subset:
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")

set2 is a subset of set1.

In [90]:
# 13. Check if a set is a superset of another set.

In [91]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}

# Check if set1 is a superset of set2
is_superset = set1 >= set2

if is_superset:
    print("set1 is a superset of set2.")
else:
    print("set1 is not a superset of set2.")

set1 is a superset of set2.

In [92]:
# 14. Create a set from a list.

In [93]:
my_list = [1, 2, 3, 4, 5]
my_set = set(my_list)
print(my_set)

{1, 2, 3, 4, 5}

In [94]:
# 15. Convert a set to a list.

In [95]:
my_set = {1, 2, 3, 4, 5}
my_list = list(my_set)
print(my_list)

[1, 2, 3, 4, 5]

In [96]:
# 16. Remove a random element from a set.

In [98]:
import random

my_set = {1, 2, 3, 4, 5}

# Convert the set to a list to get a random element
my_list = list(my_set)

# Use random.choice() to select a random element from the list
random_element = random.choice(my_list)

# Remove the selected random element from the set
my_set.remove(random_element)

print(f"Removed element: {random_element}")
print(f"Updated set: {my_set}")

Removed element: 1
Updated set: {2, 3, 4, 5}

In [99]:
# 17. Pop an element from a set.

In [100]:
my_set = {1, 2, 3, 4, 5}

# Pop an element from the set
popped_element = my_set.pop()

print(f"Popped element: {popped_element}")
print(f"Updated set: {my_set}")

Popped element: 1
Updated set: {2, 3, 4, 5}

In [101]:
# 18. Check if two sets have no elements in common.

In [102]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7}

# Check if set1 and set2 have no elements in common
are_disjoint = set1.isdisjoint(set2)

if are_disjoint:
    print("The sets have no elements in common.")
else:
    print("The sets have elements in common.")

The sets have no elements in common.

In [103]:
# 19. Find the symmetric difference between two sets.

In [104]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

symmetric_difference_set = set1.symmetric_difference(set2)

print(symmetric_difference_set)

{1, 2, 5, 6}

In [105]:
# 20. Update a set with elements from another set.

In [106]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Update set1 with elements from set2
set1.update(set2)

print(set1)

{1, 2, 3, 4, 5}

In [107]:
# 21. Create a set of the first 5 prime numbers.

In [110]:
prime_numbers = {2, 3, 5, 7, 11}
print(prime_numbers)

{2, 3, 5, 7, 11}

In [111]:
# 22. Check if two sets are identical.

In [112]:
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [113]:
# 23. Create a frozen set.

In [114]:
my_set = {1, 2, 3, 4, 5}
my_frozen_set = frozenset(my_set)
print(my_frozen_set)

frozenset({1, 2, 3, 4, 5})

In [115]:
# 24. Check if a set is disjoint with another set.

In [116]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if set1 and set2 are disjoint
are_disjoint = set1.isdisjoint(set2)

if are_disjoint:
    print("The sets are disjoint (have no common elements).")
else:
    print("The sets are not disjoint (have common elements).")

The sets are disjoint (have no common elements).

In [117]:
# 25. Create a set of squares of numbers from 1 to 5.

In [118]:
squares_set = {x ** 2 for x in range(1, 6)}
print(squares_set)

{1, 4, 9, 16, 25}

In [119]:
# 26. Filter out all even numbers from a set.

In [121]:
original_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

filtered_set = {x for x in original_set if x % 2 != 0}
print(filtered_set)

{1, 3, 5, 7, 9}

In [122]:
# 27. Multiply all elements in a set by 2.

In [123]:
original_set = {1, 2, 3, 4, 5}

# Convert the set to a list
list_from_set = list(original_set)

# Multiply all elements in the list by 2
list_result = [x * 2 for x in list_from_set]

# Convert the list back to a set
result_set = set(list_result)

print(result_set)

{2, 4, 6, 8, 10}

In [124]:
# 28. Create a set of random numbers.

In [125]:
import random

# Create an empty set
random_set = set()

# Generate and add random numbers to the set
for _ in range(10):  # You can change 10 to the number of random numbers you want
    random_number = random.randint(1, 100)  # Generate a random number between 1 and 100 (you can adjust the range)
    random_set.add(random_number)

print(random_set)

{34, 35, 67, 70, 7, 8, 77, 45, 52, 55}

In [126]:
# 29. Check if a set is empty.

In [127]:
my_set = set()  # Create an empty set

if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [128]:
# 30. Create a nested set (hint: use frozenset).

In [129]:
z = frozenset({frozenset({1, 2}), frozenset({3, 4, 5})})
print(z)

frozenset({frozenset({3, 4, 5}), frozenset({1, 2})})

In [130]:
# 31. Remove an element from a set using the discard method.

In [131]:
my_set = {1, 2, 3, 4, 5}
element_to_remove = 3

my_set.discard(element_to_remove)

print(my_set)

{1, 2, 4, 5}

In [132]:
# 32. Compare two sets.

In [133]:
set1 = {1, 2, 3}
set2 = {1, 2}

if set2.issubset(set1):
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")

set2 is a subset of set1.

In [134]:
# 33. Create a set from a string.

In [135]:
my_string = "hello"
my_set = set()

for char in my_string:
    my_set.add(char)

print(my_set)

{'l', 'o', 'h', 'e'}

In [136]:
# 34. Convert a set of strings to a set of integers.

In [137]:
set_of_strings = {"1", "2", "3", "4", "5"}
set_of_integers = set()

for string_value in set_of_strings:
    integer_value = int(string_value)
    set_of_integers.add(integer_value)

print(set_of_integers)

{1, 2, 3, 4, 5}

In [138]:
# 35. Convert a set of integers to a set of strings.

In [139]:
set_of_integers = {1, 2, 3, 4, 5}
set_of_strings = set()

for integer_value in set_of_integers:
    string_value = str(integer_value)
    set_of_strings.add(string_value)

print(set_of_strings)

{'3', '1', '2', '5', '4'}

In [140]:
# 36. Create a set from a tuple.

In [141]:
my_tuple = (1, 2, 3, 4, 5)
my_set = set(my_tuple)
print(my_set)

{1, 2, 3, 4, 5}

In [143]:
# 37. Convert a set to a tuple.

In [144]:
my_set = {1, 2, 3, 4, 5}
my_tuple = tuple(my_set)
print(my_tuple)

(1, 2, 3, 4, 5)

In [145]:
# 38. Find the maximum value in a set.

In [146]:
my_set = {1, 2, 3, 4, 5}
maximum_value = max(my_set)

print("Maximum value in the set:", maximum_value)

Maximum value in the set: 5

In [147]:
# 39. Find the minimum value in a set.

In [148]:
my_set = {1, 2, 3, 4, 5}
minimum_value = min(my_set)

print("Minimum value in the set:", minimum_value)

Minimum value in the set: 1

In [149]:
# 40. Create a set from user input.

In [150]:
user_set = set()  # Create an empty set

while True:
    user_input = input("Enter an element (or 'done' to finish): ")

    if user_input.lower() == 'done':
        break  # Exit the loop if the user enters 'done'
    
    user_set.add(user_input)  # Add the user's input to the set

print("User's set:", user_set)

Enter an element (or 'done' to finish):  done

User's set: set()

In [151]:
# 41. Check if the intersection of two sets is empty.

In [152]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

if set1.isdisjoint(set2):
    print("The intersection of the sets is empty.")
else:
    print("The sets have elements in common.")

The intersection of the sets is empty.

In [153]:
# 42. Create a set of the first 5 Fibonacci numbers.

In [154]:
fibonacci_set = set()
a, b = 0, 1

for _ in range(5):
    fibonacci_set.add(a)
    a, b = b, a + b

print(fibonacci_set)

{0, 1, 2, 3}

In [155]:
# 43. Remove duplicates from a list using sets.

In [156]:
original_list = [1, 2, 2, 3, 4, 4, 5, 6, 6]

# Convert the list to a set to remove duplicates and then back to a list
unique_list = list(set(original_list))

print(unique_list)

[1, 2, 3, 4, 5, 6]

In [157]:
# 44. Check if two sets have the same elements, regardless of their count.

In [158]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}

if set1 == set2:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [159]:
# 45. Create a set of the first `n` powers of 2.

In [160]:
n = 5  # Replace with the number of powers of 2 you want
powers_of_2_set = {2 ** i for i in range(n)}

In [161]:
# 46. Find the common elements between a set and a list.

In [162]:
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]

common_elements = set(my_list) & my_set

print("Common elements:", common_elements)

Common elements: {3, 4, 5}

In [163]:
# 47. Create a set of the first `n` triangular numbers.

In [164]:
n = 5  # Replace with the number of triangular numbers you want
triangular_numbers_set = {i * (i + 1) // 2 for i in range(1, n + 1)}
print(triangular_numbers_set)

{1, 3, 6, 10, 15}

In [165]:
# 48. Check if a set contains another set as a subset.

In [166]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}

if set2.issubset(set1):
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")

set2 is a subset of set1.

In [167]:
# 49. Create a set of alternating 1s and 0s of length `n`.

In [168]:
n = 10  # Replace with the desired length of the alternating sequence
alternating_set = {1 if i % 2 == 0 else 0 for i in range(n)}
print(alternating_set)

{0, 1}

In [169]:
# 50. Merge multiple sets into one.

In [170]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

merged_set = set1.union(set2, set3)
print(merged_set)

{1, 2, 3, 4, 5, 6, 7}

In [171]:
# SO THIS IS END OF ASSIGNMENT 2